<!DOCTYPE html>
<html>

<head>
  <title>Urheilusuorituksen muokkaus</title>
</head>

<body>
  <h1>Urheilusuorituksen muokkaus</h1>
  <form action="/update_sport" method="post">
    <p>
      Laji: <br />
      <input type="text" name="sport" value="{{ sport.sport }}"/>
    </p>
    <p>
      Kesto: <br />
      <input type="text" name="duration" value="{{ sport.duration }}"/> min
    </p>
    <p>
      Matka: <br />
      <input type="text" name="distance" value="{{ sport.distance }}"/> km
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60">{{ sport.description }}</textarea>
    </p>
    <input type="hidden" name="sport_id" value="{{ sport.id }}">
    <input type="submit" value="Päivitä urheilusuoritus" />
  </form>
</body>

</html>