{% extends "layout.html" %}

{% block title %}Urheilusuorituksen muokkaus{% endblock %}

{% block content %}
<div class="block">
<h2>Urheilusuorituksen muokkaus</h2>
<form action="/update_sport" method="post">
  <p>
    <label for="sport"><b>Laji</label>: </b><br />
    <input type="text" name="sport" id="sport" value="{{ sport.sport }}" maxlength="50" required/>
  </p>
  <p>
    <label for="duration"><b>Kesto</label>: </b><br />
    <input type="text" name="duration" id="duration" value="{{ sport.duration }}" pattern="[1-9][0-9]{0,2}" required/> <br />
    min
  </p>
  <p>
    <label for="distance"><b>Matka</label>: </b><br />
    <input type="text" name="distance" id="distance" value="{{ sport.distance }}" pattern="[0-9][0-9]{0,2}" required/> <br />
    km
  </p>
  {% for class in all_classes %}
    <p>
    <label for="class{{ class }}"><b>{{ class }}</label>: </b><br />
    <select name="classes" id="class{{ class }}">
    <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <p>
    <label for="description"><b>Kuvaus</label>: </b><br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="1000" required>{{ sport.description }}</textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="sport_id" value="{{ sport.id }}">
  <input type="submit" value="Päivitä urheilusuoritus" />
</form>
</div>

{% endblock %}