{% extends "layout.html" %}

{% block title %}Etsi urheilusuoritus{% endblock %}

{% block content %}
<h2>Etsi urheilusuoritus</h2>
<p>Voit etsiä urheilusuoritusta esimerkiksi lajin tai kuvauksen mukaan.</p>
<form action="/find_sport" method="get">
  <p>
    Hakusana: <input type="text" name="query" value="{{ query }}">
  </p>
  <input type="submit" value="Etsi">
</form>

{% if query %}
  <h3>Hakutulokset</h3>

  <ul>
    {% for sport in results %}
      <li><a href="/sport/{{ sport.id }}">{{ sport.sport }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}