<!DOCTYPE html>
<html>

<head>
  <title>Etsi urheilusuoritus</title>
</head>

<body>
  <h1>Etsi urheilusuoritus</h1>
  <p>Voit etsiä urheilusuoritusta esimerkiksi lajin tai kuvauksen mukaan.</p>
  <form action="/find_sport" method="get">
    <p>
        Hakusana: <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Etsi">
  </form>

  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>

  {% if query %}
  <h2>Hakutulokset</h2>

  <ul>
    {% for sport in results %}
    <li><a href="/sport/{{ sport.id }}">{{ sport.sport }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</body>

</html>