<!DOCTYPE html>
<html>

<head>
  <title>OnlySport</title>
</head>

<body>
  <h1>OnlySport</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä <a href="/user/{{ user.id }}">{{ session.username }}</a>
  </p>
  {% endif %}
  <p>
    <a href="/find_sport">Etsi urheilusuoritus</a> |
    {% if session.username %}
      <a href="/new_sport">Lisää urheilusuoritus</a> |
      <a href="/logout">Kirjaudu ulos</a>
    {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Luo tunnus</a>
    </p>
    {% endif %}

  {% if session.username %}
  <h2>Omat urheilusuoritukset</h2>
  <ul>
    {% for sport in user_sports %}
    <li><a href="/sport/{{ sport.id }}">{{ sport.sport }} ({{ sport.sent_at }})</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</body>

</html>

<h2>Kaikki urheilusuoritukset</h2>
  <ul>
    {% for sport in sports %}
    <li><a href="/sport/{{ sport.id }}">{{ sport.sport }} ({{ sport.sent_at }})</a></li>
    {% endfor %}
  </ul>
</body>

</html>