<!DOCTYPE html>
<html>

<head>
  <title>OnlySport</title>
</head>

<body>
  <h1>OnlySport</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{ session.user_id}}
  </p>
  <p>
    <a href="/user/{{ user.id }}">Käyttäjäsivut</a>
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
    <a href="/new_sport">Uusi urheilusuoritus</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
  </p>
  {% endif %}
  <p>
    <a href="/find_sport">Etsi urheilusuoritus</a>
  </p>

  {% if session.username %}
  <h2>Omat urheilusuoritukset</h2>
  <ul>
    {% for sport in user_sports %}
    <li><a href="/sport/{{ sport.id }}">{{ sport.sport }} ({{ sport.sent_at }})</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</body>

</html>

<h2>Kaikki urheilusuoritukset</h2>
  <ul>
    {% for sport in sports %}
    <li><a href="/sport/{{ sport.id }}">{{ sport.sport }} ({{ sport.sent_at }})</a></li>
    {% endfor %}
  </ul>
</body>

</html>