{% extends "layout.html" %}

{% block title %}Onlysport{% endblock %}

{% block content %}

{% if session.username %}
<div class="block">
<h2>Viimeksi lisätyt omat urheilusuoritukset</h2>
{% if user_sports | count == 0 %}
  <p>Et ole vielä lisännyt yhtäkään urheilusuoritusta</p>
{% else %}
  {% for sport in user_sports %}
    <div class="sport">
    <p>
      <b>Suoritus:</b> <a href="/sport/{{ sport.id }}">{{ sport.sport }} ({{ sport.sent_at }})</a>
    </p>
    </div>  
  {% endfor %}
<a href="/show_user_sports/{{ user.id }}/1">Kaikki omat urheilusuoritukset</a>
{% endif %}
</div>
{% endif %}

<div class="block">
<h2>Kaikki viimeksi lisätyt urheilusuoritukset</h2>
{% if sports | count == 0 %}
  <p>Kukaan ei ole vielä lisännyt urheilusuoritusta</p>
{% else %}
  {% for sport in sports %}
  <div class="sport">
  <p>
    <b>Suoritus:</b> <a href="/sport/{{ sport.id }}">{{ sport.sport }} ({{ sport.sent_at }})</a> <br />
    <b>Urheilija:</b> <a href="/user/{{ sport.user_id}}">{{ sport.username }}</a>
  </p>
  </div>
  {% endfor %}
<a href="/show_all_sports/1">Kaikki urheilusuoritukset</a>
{% endif %}
</div>

{% endblock %}