<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
<div class="header">
  <h1>OnlySport☺︎</h1>
</div>
<div class="nav">
  <a href="/">Etusivu</a> |
  <a href="/find_sport/1">Etsi urheilusuoritus</a> |
  {% if session.username %}
    <a href="/new_sport">Lisää urheilusuoritus</a> |
    <a href="/logout">Kirjaudu ulos</a> |
    <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
    {% endif %}
</div>

{% for category, message in get_flashed_messages(with_categories=True) %}
<p class="{{ category }}">
    <b>{{ message }}</b>
</p>
{% endfor %}

{% block content %}{% endblock %}
</body>
</html>