<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
<h1>OnlySport</h1>
  {% if session.user_id %}
    <p>
      Olet kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
  {% endif %}
  <a href="/">Etusivu</a> |
  <a href="/find_sport">Etsi urheilusuoritus</a> |
  {% if session.username %}
    <a href="/new_sport">Lisää urheilusuoritus</a> |
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
    {% endif %}
</p>

{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
{% endfor %}

{% block content %}{% endblock %}

</body>
</html>