{% extends "layout.html" %}

{% block title %}Kirjaudu sisään{% endblock %}

{% block content %}
<div class="block">
<h2>Kirjaudu sisään</h2>
<form action="/login" method="post">
  <p>
    <label for="username"><b>Tunnus</label>: </b><br />
    <input type="text" name="username" id="username" value="{{ filled.username }}" />
  </p>
  <p>
    <label for="password"><b>Salasana</label>: </b><br />
    <input type="password" name="password" id="password" />
  </p>
  {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
  {% else %}
    <input type="hidden" name="next_page" value="/" />
  {% endif %}
  <input type="submit" value="Kirjaudu" />
</form>
</div>
{% endblock %}