<!DOCTYPE html>
<html>

<head>
  <title>Uusi urheilusuoritus</title>
</head>

<body>
  <h1>Uusi urheilusuoritus</h1>
  <form action="/create_sport" method="post">
    <p>
      Laji: <br />
      <input type="text" name="sport" />
    </p>
    <p>
      Kesto: <br />
      <input type="text" name="duration" /> min
    </p>
    <p>
      Matka: <br />
      <input type="text" name="distance" /> km
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60"></textarea>
    </p>
    <input type="submit" value="Luo urheilusuoritus" />
  </form>
</body>

</html>