{% extends "layout.html" %}

{% block title %}Uusi urheilusuoritus{% endblock %}

{% block content %}
<div class="block">
<h2>Uusi urheilusuoritus</h2>
<form action="/create_sport" method="post">
  <p>
    <b>Laji: </b><br />
    <input type="text" name="sport" maxlength="50" required/>
  </p>
  <p>
    <b>Kesto: </b><br />
    <input type="text" name="duration" pattern="[1-9][0-9]{0,2}" required/> <br />
    min
  </p>
  <p>
    <b>Matka: </b><br />
    <input type="text" name="distance" pattern="[0-9][0-9]{0,2}" required/> <br />
    km
  </p>
  {% for class in classes %}
  <p>
    <b>{{ class }}: </b><br />
    <select name="classes">
    <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  {% endfor %}
  </p>
  <p>
    <b>Kuvaus: </b><br />
    <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo urheilusuoritus" />
  </form>
</div>

{% endblock %}