<!DOCTYPE html>
<html>

<head>
  <title>Uusi urheilusuoritus</title>
</head>

<body>
  <h1>Uusi urheilusuoritus</h1>
  <form action="/create_sport" method="post">
    <p>
      Laji: <br />
      <input type="text" name="sport" maxlength="50" required/>
    </p>
    <p>
      Kesto: <br />
      <input type="text" name="duration" pattern="[1-9][0-9]{0,2}" required/> min
    </p>
    <p>
      Matka: <br />
      <input type="text" name="distance" pattern="[1-9][0-9]{0,2}" required/> km
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <input type="submit" value="Luo urheilusuoritus" />
  </form>
</body>

</html>