{% extends "layout.html" %}

{% block title %}Luo tunnus{% endblock %}

{% block content %}
<div class="block">
<h2>Luo tunnus</h2>
<form action="/register" method="post">
  <p>
    <b>Tunnus: </b><br />
    <input type="text" name="username" />
  </p>
  <p>
    <b>Salasana: </b><br />
    <input type="password" name="password1" />
  </p>
  <p>
    <b>Salasana uudestaan: </b><br />
    <input type="password" name="password2" />
  </p>
  <input type="submit" value="Luo tunnus" />
</form>
</div>
{% endblock %}