{% extends "layout.html" %}

{% block title %}Luo tunnus{% endblock %}

{% block content %}
<div class="block">
<h2>Luo tunnus</h2>
<form action="/create_user" method="post">
  <p>
    <label for="username"><b>Tunnus</label> (max 16 merkkiä): </b><br />
    <input type="text" name="username" id="username" value="{{ filled.username }}" maxlength="16" />
  </p>
  <p>
    <label for="password1"><b>Salasana</label>: </b><br />
    <input type="password" name="password1" id="password1" />
  </p>
  <p>
    <label for="password2"><b>Salasana uudestaan</label>: </b><br />
    <input type="password" name="password2" id="password2" />
  </p>
  <input type="submit" value="Luo tunnus" />
</form>
</div>
{% endblock %}