{% extends "layout.html" %}

{% block title %}Urheilusuorituksen poisto{% endblock %}

{% block content %}
<div class="block">
<h2>Urheilusuorituksen poisto</h2>
<p>Haluatko varmasti poistaa urheilusuorituksen {{ sport.sport }}?</p>
<form action="/remove_sport/{{ sport.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Poista urheilusuoritus">
  <input type="submit" name="back" value="Palaa takaisin">
</form>
</div>
{% endblock %}