{% extends "layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<div class="block">
<h2>Käyttäjä {{ user.username }}</h2>
{% if user.has_image %}
  <img src="/image/{{ user.id }}" alt="Profiilikuva" />
{% endif %}
<p>
  <b>Lisättyjä urheilusuorituksia: </b>{{ user_sports | count }} 
</p>
<p>
  <b>Liikuttu matka: </b>{{ user_sports | sum(attribute='distance') }} km
</p>
<p>
  <b>Kulutettu aika: </b>{{ user_sports | sum(attribute='duration') }} min
</p>
<a href="/show_user_sports/{{ user.id }}/1">Käyttäjän lisäämät urheilusuoritukset</a>
<p>
{% if session.user_id == user.id %}
  <a href="/add_image/{{ user.id }}">Profiilikuvan hallinnointi</a>
  <a href="/remove_user/{{ user.id }}">Poista käyttäjä</a>
</p>
{% endif %}
</div>
{% endblock %}