{% extends "layout.html" %}

{% block title %}Omat urheilusuoritukset{% endblock %}

{% block content %}

{% if session.username %}
<div class="block">
  <h2>Kaikki omat urheilusuoritukset</h2>
  {% for sport in user_sports %}
    <div class="sport">
    <p>
      <b>Suoritus:</b> <a href="/sport/{{ sport.id }}">{{ sport.sport }} ({{ sport.sent_at }})</a>
    </p>
    </div>  
{% endfor %}
<div>
{% if page > 1 %}
    <a href="/show_user_sports/{{ page - 1 }}">&lt;&lt;</a>
{% endif %}
    Sivu {{ page }} / {{ total_pages }}
{% if page < total_pages %}
    <a href="/show_user_sports/{{ page + 1 }}">&gt;&gt;</a>
{% endif %}
</div>
</div>
{% endif %}
{% endblock %}