<!DOCTYPE html>
<html>

<head>
  <title>{{ sport.sport }}</title>
</head>

<body>
  <h1>Suoritus: {{ sport.sport }}</h1>
  <p>
    Kesto: {{ sport.duration }} min
  </p>
  <p>
    Matka: {{ sport.distance }} km
  </p>
  <p>
    Suorituksen kuvaus: {{ sport.description }}
  </p>
  <p>
    Urheilija: <a href="/user/{{ sport.user_id }}">{{ sport.username }}</a>
  </p>
  {% if classes %}
  {% for class in classes %}
  <p>{{ class. title }}: {{ class.value }}</p>
  {% endfor %}
  {% endif %}
  <p>
    <a href="/">Takaisin etusivulle</a>
    {% if session.user_id == sport.user_id %}
    <a href="/edit_sport/{{ sport.id }}">Muokkaa</a>
    <a href="/remove_sport/{{ sport.id }}">Poista</a>
  </p>
    {% endif %}
</body>

</html>