<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjä {{ user.username }}</title>
</head>

<body>
  <h1>Käyttäjä {{ user.username }}</h1>
  {% if  user_sports | count  == 1 %}
  <p>
    Käyttäjä on lisännyt {{ user_sports | count }} urheilusuorituksen
  </p>
  {% endif %}
  {% if  user_sports | count  > 1 or user_sports | count == 0 %}
  <p>
    Käyttäjä on lisännyt {{ user_sports | count }} urheilusuoritusta
  </p>
  {% endif %}
  <p>
    Liikuttu matka: {{ user_sports | sum(attribute='distance') }} km
  </p>
  <p>
    Kulutettu aika: {{ user_sports | sum(attribute='duration') }} min
  </p>
  <h2>Urheilusuoritukset</h2>
  <ul>
    {% for sport in user_sports %}
    <li><a href="/sport/{{ sport.id }}">{{ sport.sport }}</a></li>
    {% endfor %}
  </ul>
  <p>
    <a href="/">Takaisin etusivulle</a>
    {% if session.user_id == user.id %}
    <a href="/remove_user/{{ user.id }}">Poista käyttäjä</a>
  </p>
    {% endif %}
  </p>
</body>

</html>